logs
*.log

npm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

pids
*.pid
*.seed
*.pid.lock

.grunt

bower_components

.lock-wscript

build/release

node_modules/
jspn_packages/
build/

typings/

.tsbuildinfo
.npm

.eslintcache


*.tgz

.yarn-integrity

.env
.env.test

.cache

.next
dist

.cache/

.vuepress/dist

.fusebox

.tern-port

coverage-ut
.sonar_loc
report_task.txt
*.xlsx
*.csv
out
downloads

.idea
__test__
